{% extends "base.html" %}

{% block content %}

    <form class="form-signin" id="inputForm" action="{{ url_for('menu') }}" method="post">
        <div class="text-center mb-4">
            <i class="fa fa-twitter fa-5x" aria-hidden="true"></i>
            <br>
            <h1 class="h3 mb-3 font-weight-normal">Twitter Data Analytics</h1>
            <p>This website gives an exploratory data analysis on Tweets. The tweets are first stored locally in MongoDB
                collections and then processed to give formatted data and visualisations.</p>
        </div>

        <div class="form-label-group">
            <input type="text" id="inputColName" name="inputColName" class="form-control" placeholder="Collection name"
                   required autofocus>
            <label for="inputColName">Collection Name</label>
        </div>

        <div class="form-label-group">
            <input type="text" id="inputHashtag" name="inputHashtag" class="form-control" placeholder="Hashtag" required>
            <label for="inputHashtag">Hashtag</label>
        </div>

{#        <div class="checkbox mb-3">#}
{#            <label>#}
{#                <input type="checkbox" value="remember-me"> Remember me#}
{#            </label>#}
{#        </div>#}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; Saumay | Rishabh</p>
    </form>

{% endblock %}
